/* section 1 */
.booking-section-1-title{
    max-width: 980px;
    margin: 20px;
    font-size: 18px;
}
.booking-section-1-imgDiv{
    width: 266px;
    height: 200px;
    margin-right: 11px;
}
.booking-section-1-info{
    max-width: 700px;
    margin: 20px 0 0 11px;
}
.booking-section-1-info div {
    display: flex;
    align-items: center;
    height: 35px;
}
#booking-section-1-icon{
    background-image: url('../icon_delete.png');
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.section-1-infoTitle{
    color: #448899;
    font-size: 16px;
    font-weight: bolder;
}
.booking-section-1-img {
    max-width: 100%;
}
.booking-section-1-div{
    display: flex;
    margin: 10px 20px 35px 17px;
    position: relative;
}
.booking-none-error,
.booking-none-info{
    margin: 50px 20px;
    font-size: 16px;
    color: #666666;
}

#booking-name::before{
    content: "台北一日遊 : "
}
#booking-date::before{
    content: "日期 : "
}
#booking-time::before{
    content: "時間 : "
}
#booking-price::before{
    content: "費用 : "
}
#booking-price::after{
    content: "元"
}
#booking-address::before{
    content: "地點 : ";
}
.booking-errorMsg{
    color: red;
}

/* section 2 */
.section-2-title {
    font-size: 19px;
}
.section-2-alarm{
    font-size: 16px;
}
.booking-section-2 input{
    width: 190px;
    height: 38px;
    margin: 10px 0;
    border-radius: 5px;
    padding: 0 0.5rem;
    border: 1px solid #c7c7c7;
    box-sizing: border-box;
}

/* section 4 */
.booking-section-4{
    text-align: end;
}
#booking-section-4-btn{
    margin-bottom: 20px;
    background: #448899;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
}
.booking-section-4 h3 {
    color: #666666;
    line-height: 13px;
}

/* hr */
.booking-hr{
    width: 1200px;
    border: 1px solid #E8E8E8;
}

/* section together */
.booking-section-1-title,
.booking-section-2 h3,
.booking-section-3 h3 {
    color: #666666;
    line-height: 16px;
}
.booking-section-1,
.booking-section-2,
.booking-section-3,
.booking-section-4{
    max-width: 980px;
    margin: 0 auto;
}
.booking-section-2-div,
.booking-section-3-div,
.booking-section-4-div{
    margin: 30px 10px;
}
.tyfield {
    width: 190px;
    height: 38px;
    margin: 10px 5px;
    border-radius: 5px;
    padding: 0 0.5rem;
    border: 1px solid #c7c7c7;
    box-sizing: border-box;
}

/* footer */
.main-footer{
    padding: 0 0 843px 0 !important;
}

/* delete modal */
.delete-div{
    position: relative;
    max-width: 340px;
    /* height: 275px; */
    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
    margin: 0 auto;
    z-index: 5;
    padding-bottom: 1px;
}
.delete-topDiv{
    width: 340px;
    height: 10px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    border-radius: 6px 6px 0 0;
}
.delete-h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #666666;
    margin: 35px 0 15px 0;
}
.delete-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 15px;
}
.delete-close:hover,
.delete-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.delete-cancel{
    border: 1px solid green;
    padding: 10px 20px;
    cursor: pointer;
    color: green;
    font-weight: bolder;
    background: transparent;
    border-radius: 5px;
    margin: 10px 1px;
}
.delete-cancel:hover{
    background: green;
    color: white;
}
.delete-button {
    border: 1px solid red;
    padding: 10px 20px;
    cursor: pointer;
    color: red;
    font-weight: bolder;
    background: transparent;
    border-radius: 5px;
    margin: 10px 1px;
}
.delete-button:hover{
    background: red;
    color: white;
}
.delete-BtnDiv{
    width: 180px;
    margin-left: auto;
}

#logintosignup,
#signuptologin{
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .booking-section-1,
    .booking-section-2,
    .booking-section-3,
    .booking-section-4 {
        width: 90%;
    }
    .booking-section-1-div,
    .booking-hr {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .booking-section-1-imgDiv{
        width: 340px;
        height: 256px;
    }
    .booking-section-1-div{
        display: block;
    }
    #booking-section-1-icon{
        top: 100%;
    }
}

@media only screen and (max-width: 420px) {
    .section-1-title {
        margin: 10px 12px 0 12px;
    }
    .booking-section-1-div {
        width: 90%;
    }
    .booking-section-1-imgDiv {
        height: 200px;
        max-width: 100%;
    }
    .booking-section-1-img{
        height: 200px;
        width: 100%;
    }
}