.booking-section-main{
    width: 540px;
}

.booking-section-img {
    width: 100%;
    height: 406px;
    margin: 0 15px 0 0;
}

.booking-section-info{
    height: 406px;
    margin: 0 0 0 15px;
}

.booking-section-div {
    width: 600px;
    height: 297px;
    background-color: #E8E8E8;
    border-radius: 5px;
    padding: 15px 20px 0 20px;
}

.booking-section-morning{
    width: 22px;
    height: 22px;
    background: #448899;
}

.booking-section-afternoon{
    width: 22px;
    height: 22px;
    background: #448899;
}

.booking-hr {
    width: 1200px;
    border: 1px solid #E8E8E8;
    margin-top: 20px;
}

#booking-section-button{
    background: #448899;
    border-radius: 5px;
    width: 154px;
    height: 36px;
    border: none;
    color:white;
    margin-top: 15px;
}

#booking-section-1{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    margin-top: 25px;
}

#booking-section-date{
    margin: 16px 0;
    display: flex;
    align-items: center;
}

#booking-section-2 {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 15px;
}

@media only screen and (min-width: 950px) and (max-width: 1200px) {
    #booking-section-1 {
        width: 90%;
        justify-content: center;
    }
    #booking-section-2 {
        width: 90%;
    }
    .booking-section-div,
    .booking-hr{
        width: 90%;
    }
    .nav-div-left{
        left: 100px;
    }
    .nav-div-right{
        right: 100px;
    }
}

@media only screen and (min-width: 600px) and (max-width:950px){
    #booking-section-1 {
        width: 90%;
        display: block;
    }
    #booking-section-2 {
        width: 90%;
    }
    .booking-section-main{
        width: 90%;
        transform: translate(30px, 0);
    }
    .booking-section-div,
    .booking-hr{
        width: 90%;
    }
    .nav-div-left{
        left: 100px;
    }
    .nav-div-right{
        right: 100px;
    }
}

@media only screen and (max-width: 600px) {
    #booking-section-1 {
        width: 90%;
        display: block;
    }

    #booking-section-2 {
        width: 90%;
    }

    .booking-section-div,
    .booking-hr{
        width: 90%;
    }

    .booking-section-main{
        width: 90%;
        transform: translate(30px, 0);
    }

    .booking-section-img{
        width: 100%;
        margin: 0;
    }

    .nav-div-left{
        left: 35px;
    }
    .nav-div-right{
        right: 35px;
    }
}

@media only screen and (max-width: 420px){
    #booking-section-1 {
        width: 90%;
        display: block;
    }

    #booking-section-2 {
        width: 90%;
    }

    .booking-section-div,
    .booking-section-info,
    .booking-hr{
        width: 90%;
    }

    .booking-section-main{
        width: 90%;
        transform: translate(20px, 0);
    }

    .booking-section-img{
        width: 100%;
        margin: 0;
        height: 350px;
    }

    .nav-div-left{
        left: 0;
    }

    .nav-div-right{
        right: 0;
    }
}