* {
    font-family: 標楷體;
}
body{
    margin: 0;
    padding: 0;
}

.header{
    position: relative;
    height: 54px;
}

.navbar-brand{
    text-decoration: none;
    color: #448899;
    font-size: 25px;
}

.navbar-brand-2{
    text-decoration: none;
    color: #666666;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 15px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.nav {
    list-style: none;
    font-weight: bold;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 10px auto 0 auto;
    align-items: center;
}

.nav-div-left {
    position: static;
    left: 0px;
    color: #448899;
    font-weight:bolder;
    margin: 10px 0;
    height: 34px;
    width: 150px;
}

.nav-div-right {
    display: inline-flex;
    position: static;
    right: 0px;
    margin: 10px 0;
}

.nav-div-right li {
    color: #666666;
}

.nav li {
    margin: 0 10px;
}

.section-1 {
    background: linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);
    padding: 85px 0;
}

.section-1-title{
    height: 41px;
    font-size: 28px;
    line-height: 24px;
    width: 320px;
    margin: 0;
}

.section-1-content{
    height: 22px;
    font-size: 16px;
    line-height: 13px;
    width: 320px;
}

.section-1-searchBox{
    display: flex;
}

.section-1-div {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: aliceblue;
    position: relative;
    z-index: 1;
}

.section-1-div input {
    width: 400px;
    height: 46px;
    border: none;
    padding: 0;
    border-radius: 5px 0 0 5px;
    padding-left:1em;
}

#section-1-welcome{
    position: absolute;
    top: 66px;
    width: 650px;
    height: 320px;
    right: 190px;
    z-index: 0;
}

.section-1-searchDiv{
    width: 60px;
    height: 46px;
    position: relative;
}

#section-1-mag{
    position: absolute;
    left: 15px;
    top: 7px;
}

#mag-btn {
    width: 60px;
    height: 46px;
    background: #448899;
    border: none;
    border-radius: 0 5px 5px 0;
    text-align: center;
    cursor: pointer;
}

.mag{
    font-size: 20px;
}

.section-1-img{
    background-image: url('../image-1.jpg');
    background-size: 100% 100%;
    height: 300px;
    width: 500px;
}


#section-2 {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 15px;
}

.img-div {
    width: 270px;
    margin: 10px;
    display: inline-block;
    text-align: left;
    z-index: 100;
    cursor: pointer;
}

.img-div-3{
    border: 1px #E8E8E8 solid;
    border-radius: 0 0 5px 5px;
}

.img-div-4{
    display: flex;
    justify-content: space-between;
}

.img {
    height: 202px;
    background-size: cover;
    background-position: center;
    border-radius: 5px 5px 0 0;
}

.img-div h5,
.img-div h6 {
    margin: 0;
    padding: 5px;
    color: #757575;
    font-size: 16px;
}

.img-div p{
    margin: 0;
    padding: 5px;
    color: #757575;
    font-size: 15px;
}

.pCategory{
    float: right;
}

#btn-div {
    text-align: center;
    margin: 10px auto;
}

#btn{
    width: 100px;
    height: 40px;
}

#footer {
    text-align: center;
    background-color: darkgray;
    padding: 5px 0;
    color: white;
    position: absolute;
    width: 100%;
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
    /* section 2 */
    #section-2 {
        width: 90%;
    }
    .img-div {
        width: 45%;
    }
    .section-1-title,
    .section-1-content,
    .section-1-searchBox{
        margin-left: 85px;
    }
    #section-1-welcome{
        right: 100px;
    }
}

@media only screen and (max-width: 800px){
    #section-1-welcome{
        position: absolute;
        right: 0;
        width: 500px;
        height: 246px;
        top: 140px;
    }
}

@media only screen and (max-width: 600px) {
    /* section 2 */
    #section-2 {
        width: 90%;
    }
    .img-div {
        width: 90%;
        margin: 10px 0;
    }
    .section-1-title,
    .section-1-content,
    .section-1-searchBox{
        margin-left: 50px;
    }
    .section-1-div input {
        width: 300px;
    }
    #section-1-welcome{
        position: absolute;
        right: 0;
        width: 400px;
        height: 216px;
        top: 170px;
    }
}

@media only screen and (max-width: 440px){
    /* section 1 */
    .section-1 {
        padding: 70px 0;
    }
    .section-1-div input {
        width: 230px;
    }
    #section-1-welcome{
        width: 276px;
        height: 148px;
        top: 208px;
    }

    .section-1-title,
    .section-1-content,
    .section-1-searchBox{
        margin-left: 30px;
    }

    /* section 2 */
    #section-2 {
        width: 90%;
    }
}


