.signup-topDiv{
    max-width: 340px;
    height: 10px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    border-radius: 6px 6px 0 0;
}

#signup {
    cursor: pointer;
}

.signup-h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #666666;
    margin: 15px 0;
}

#signup-input_1{
    width: 310px;
    height: 45px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin: 0 0 5px 0;
}

#signup-input_2{
    width: 310px;
    height: 45px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin: 5px 0;
}

#signup-input_3 {
    width: 310px;
    height: 45px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin: 5px 0;
}

.signup-button{
    width: 310px;
    height: 47px;
    background: #448899;
    border-radius: 5px;
    color: white;
    border: none;
    margin: 5px 0 0 0;
    cursor: pointer;
}

.signup-p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 13px;
    text-align: center;
}

.signup-error{
    color: red;
}

.signup-div{
    position: relative;
    max-width: 340px;
    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
    margin: 0 auto;
    z-index: 5;
    padding-bottom: 1px;
}

.signup-span{
    position: absolute;
    right: 7px;
    top: 14px;
    font-size: 25px;
}

@media only screen and (max-width: 380px){
    .signup-div{
        width: 320px;
    }
    #signup-input_1,
    #signup-input_2,
    #signup-input_3{
        width: 280px;
    }

    .signup-button{
        width: 285px;
    }
}