.thankyou-section-1{
    max-width: 980px;
    margin: 0 auto;
}

.thankyou-section-1-title{
    margin-top: 50px;
}

.thankyou-section-1-number::before{
    content: '訂單編號為 : ';
}

.thankyou-section-1-number {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.thankyou-none-info {
    margin: 50px 20px;
    font-size: 16px;
    color: #666666;
}

.thankyou-section-1-title,
.thankyou-section-1-number,
.thankyou-section-1-content{
    max-width: 980px;
    margin: 20px;
    font-size: 1.2rem;
    color: #666666;
}

.main-footer{
    padding: 0 0 843px 0 !important;
}

@media only screen and (max-width: 1200px) {
    .thankyou-section-1{
        width: 90%;
    }
    .thankyou-section-div{
        width: 90%;
    }
}
