{% extends 'layout.html' %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/booking.css') }}">
{% endblock %}

{% block content %}

<div class="booking-section-1">
    <h2 class="booking-section-1-title">您好，<span id="booking-section-1-titleSpan"></span>，帶預定的行程如下</h2>
    <!-- dynamic data -->
</div>
<hr class="booking-hr">
<form onsubmit="return false" id="booking-section-2-form">
    <div class="booking-section-2">
        <div class="booking-section-2-div">
            <h3 class="section-2-title">您的聯絡資料</h3>
            <div id="booking-section-2-nameDiv">
                <label for="booking-section-2-name" class="booking-section-2-label">聯絡姓名 : </label>
                <input type="text" id="booking-section-2-name" maxlength="20" required>
            </div>
            <div id="booking-section-2-emailDiv">
                <label for="booking-section-2-email" class="booking-section-2-label">聯絡信箱 : </label>
                <input type="email" id="booking-section-2-email" required>
            </div>
            <div id="booking-section-2-phoneDiv">
                <label for="booking-section-2-phone" class="booking-section-2-label">手機號碼 : </label>
                <input type="tel" id="booking-section-2-phone" oninput="value=value.replace(/[^\d]/g,'')" maxlength="10"
                    pattern="\d{10}" required>
            </div>
            <h3 class="section-2-alarm">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</h3>
        </div>
    </div>
    <hr class="booking-hr">
    <div class="booking-section-3">
        <div class="booking-section-3-div">
            <h3>信用卡付款資訊</h3>
            <div style="display: flex;align-items: center;">
                <label>卡片號碼 : </label>
                <div class="tyfield" id="booking-section-cardNumber"></div>
            </div>
            <div style="display: flex;align-items: center;">
                <label>過期時間 : </label>
                <div class="tyfield" id="booking-section-expireDay"></div>
            </div>
            <div style="display: flex;align-items: center;">
                <label>驗證密碼 : </label>
                <div class="tyfield" id="booking-section-cvv"></div>
            </div>
        </div>
    </div>
    <hr class="booking-hr">
    <div class="booking-section-4">
        <div class="booking-section-4-div">
            <h3>總價 : 新台幣
                <span id="booking-total-price"></span>元
            </h3>
            <button type="submit" id="booking-section-4-btn">確認訂購並付款</button>
        </div>
    </div>
</form>

<form onsubmit="return false">
    <div id="modal-delete" class="modal">
        <div class="delete-div">
            <div class="delete-topDiv"></div>
            <span class="delete-close">&times;</span>
            <h3 class="delete-h3">你真的要刪除預訂行程嗎 ?? </h3>
            <div class="delete-BtnDiv">
                <button type="submit" class="delete-cancel">取消</button>
                <button type="submit" class="delete-button">是</button>
            </div>
        </div>
    </div>
</form>
{% endblock content %}

{% block script %}
    <script src="{{ url_for('static', filename='js/booking.js') }}"></script>
{% endblock %}