{% extends 'layout.html' %}

{% block content %}
<section class="section-1">
    <div class="section-1-div">
        <h4 class="section-1-title">輕鬆享受台北一日悠閒</h4>
        <h4 class="section-1-content">探索每個角落，體驗城市的深度旅遊行程</h4>
        <form class="section-1-searchBox">
            <input type="text" placeholder="輸入景點名稱查詢" id="section-1-input" />
            <div class="section-1-searchDiv">
                <button id="mag-btn">
                    <img src="{{ url_for('static', filename='icon_search.png') }}" id="section-1-mag" />
                </button>
            </div>
        </form>
    </div>
    <img src="{{ url_for('static', filename='welcome.png') }}" id='section-1-welcome' />
</section>


<section id="section-2">
    <!-- dynamic loading Attraction images -->
</section>
{% endblock  content %}