<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signup.css') }}">
    <title>台北一日遊</title>
</head>

<body>
    <div>
        <header>
            <nav class="nav">
                <div class="nav-div-left">
                    <li><a class="navbar-brand" href="{{ url_for('main.index') }}">台北一日遊</a></li>
                </div>
                <div class="nav-div-right">
                    <li><a class="navbar-brand-2">預定行程</a></li>
                    <li class="nav-li-right">
                        <a id="login">登入/</a>
                        <a id="signup">註冊</a>
                    </li>
                    <li id="logout">登出系統</li>
                </div>
            </nav>
        </header>
        {% block content %}{% endblock %}
        <footer id="footer">
            <h4>COPY RIGHT @ 2021台北一日遊</h4>
        </footer>
    </div>

    <!-- login and signup -->
    <form onsubmit="return false">
        <div id="modal-login" class="modal">
            <div class="login-div">
                <div class="login-topDiv"></div>
                <span class="close">&times;</span>
                <h3 class="login-h3">登入會員帳號</h3>
                <input type="email" placeholder="輸入電子信箱" id="login-input_1" required>
                <input type="password" placeholder="輸入密碼" id="login-input_2" required>
                <button type="submit" class="login-button">登入帳號</button>
                <p class="login-p">還沒有帳戶？<span id="logintosignup">點此註冊</span></p>
            </div>
        </div>
    </form>

    <form onsubmit="return false">
        <div id="modal-signup" class="modal">
            <div class="signup-div">
                <div class="signup-topDiv"></div>
                <span class="close">&times;</span>
                <h3 class="signup-h3">註冊會員帳號</h3>
                <input type="text" placeholder="輸入姓名" name="email" id="signup-input_1" minlength="2" maxlength="8"
                    required>
                <input type="email" placeholder="輸入電子信箱" name="password" id="signup-input_2" required>
                <input type="password" placeholder="輸入密碼" name="password" id="signup-input_3" required>
                <button type="submit" class="signup-button">註冊新帳戶</button>
                <p class="signup-p">還沒有帳戶？ <span id="signuptologin">點此登入</span></p>
            </div>
        </div>
    </form>
    {% block script %}
    {% endblock %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/signMethod.js') }}"></script>
    <script src="https://js.tappaysdk.com/tpdirect/v5.7.0"></script>
    <script>
        window.port = 'https://www.neohub.cloud'
        // http://127.0.0.1:3000
    </script>
</body>

</html>